.table-box {
    border: 1px solid black;
}

.table-header {
    font-size: 8px;
    padding: 0px;
    margin: 0px;
    margin-left: 3px;
}

.table-data {
    font-size: 11px;
    padding: 0px;
    margin: 1px;
    margin-left: 3px;
}


.table-header-bold {
    font-size: 11px;
    font-weight: bold;
    padding: 0px;
    margin: 1px;
    margin-left: 3px;
}

table { border-collapse: collapse; }tr, td { padding: 0; }

.center-italic {
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

.table-custody {
    font-size: 11px;
    font-weight: bold;
    padding: 0px;
    margin: 1px;
    margin-bottom: 20px;
    margin-left: 3px;

}

@media print
{
  table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }
  .btn { display:none }
}