select, input {
  width: 100%;
  margin: 0 auto;
}

body {
  width: 400px;
  margin: 0 auto
}

.content-center{
  margin:0 auto;
}

label {
  font-weight: bold;
  text-align: left;
  /* margin-left: 5%; */
}

select {
  margin-bottom: 7px;
}

